---
extends: default

ignore: |
  internal/otel/testdata/invalid_syntax.yaml
  dist/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  commas: disable
  comments: disable
  comments-indentation: disable
  document-start: enable
  indentation:
    spaces: consistent
    indent-sequences: consistent
  line-length: disable
  truthy:
    check-keys: false
